/*

Merlin - Responsive One Page Template
Version: 1.0
By: Hasan Alibegic, hasan461@gmail.com
License: Apache License v2.0

*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300 }
*,
*:focus { outline: none !important }
a { color: #2d2d2d }
a:hover,
a:focus {
  color: #0c86b6;
  text-decoration: none;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
          transition: all .2s;
}
.btn-blue {
  color: #fff;
  background-color: #0093cf;
}
.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-green {
  color: #fff;
  background-color: #71be3c;
}
.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #2a3940;
}
.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.fading-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/fading-line.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#navbar-top { min-height: 51px }
.navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border-top: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.navbar-default .navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0093cf;
  background-color: transparent;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #333 }
.navbar-default.affix {
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.page { overflow: hidden }
.page .content { padding: 60px 0 }
.page .content.cover { padding: 240px 0 }
.page .heading h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.page .border {
  width: 80px;
  height: 2px;
  margin: 0 auto;
  background-color: #71be3c;
}
.page .heading p { margin: 20px auto 0 }
#home {
  padding: 0;
  color: #fff;
  background-image: url(../img/cover/keyboard.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#home h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
}
#home a { margin: 0 5px }
#home h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#about {
  background-color: #f5f5f5;
  border-bottom: solid 1px #e7e7e7;
}
#about .service i { margin-top: 60px }
#about .service:hover i { color: #71be3c }
#work .heading p { margin-bottom: 60px }
#portfolio { width: 100% }
#portfolio .filters { margin-top: 20px; margin-bottom: 20px }
#portfolio .filters li a {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .filters li a:hover,
#portfolio .filters li a:focus { color: #333 }
#portfolio .filters li a.active { color: #0093cf }
#portfolio .items { margin-bottom: 0 }
#portfolio .items li {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
}
#portfolio .items li a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
  opacity: 0;
}
#portfolio .items li a .overlay span {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}
#portfolio .items li a:hover .overlay { opacity: 1 }
#portfolio .items li a:hover img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#clients {
  color: #fff;
  background-color: #2a3940;
}
#testimonials .item { margin-bottom: 30px }
#testimonials .quote {
  padding: 0 90px;
  font-size: 16px;
}
#testimonials .quote:before {
  margin-right: 10px;
  font-family: fontawesome;
  content: '\f10d';
}
#testimonials .client { color: #ccc }
#testimonials .carousel-indicators li {
  width: 9px;
  height: 9px;
  border-color: #a6a6a6;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
#testimonials .carousel-indicators li:hover,
#testimonials .carousel-indicators li:focus { border-color: #fff }
#testimonials .carousel-indicators .active {
  width: 9px;
  height: 9px;
  margin: 1px;
  background-color: #71be3c;
  border-color: #fff;
}
#testimonials .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
#testimonials .carousel-control {
  top: 15%;
  width: 0%;
  display: none;
  font-size: 40px;
  background-image: none;
  text-shadow: none;
}
/*#about {
    border-top: solid 1px #e7e7e7;
    background-color: #f5f5f5;
    border-bottom: solid 1px #e7e7e7;
}
#about .content { padding-bottom: 0 }
#about .teammate { margin-top: 60px }
#about .teammate .bio { padding-top: 10px }
#about .teammate .profile-photo {
  overflow: hidden
}     
#about .teammate .profile-photo img {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
#about .teammate:hover .profile-photo img,
#about .teammate:focus .profile-photo img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#about .teammate .bio .border {
  height: 1px;
  margin: 15px auto;
}
#about .teammate .bio ul {
  margin-bottom: 0;
  font-size: 16px;
}
#about .teammate .bio a { color: #666 }
#about .teammate .bio a:hover,
#about .teammate .bio a:focus { color: #222 }
#about .twitter {
  padding: 20px 0;
  margin-top: 60px;
  background-color: #f5f5f5;
  border-top: solid 1px #e7e7e7;
}
#about .twitter p { margin-bottom: 0 }
#about .twitter i {
  margin-bottom: 10px;
  color: #00aced;
}*/
/*#contact {
  background: url(../img/cover/contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#contact,
#contact a,
#contact a:hover,
#contact a:focus { color: #fff }
#contact .heading .border { background-color: #fff }
#contact a { display: block }
#contact i { margin: 60px 0 15px }*/

#contact {
  padding: 40px 0;
  color: #ccc;
  text-align: center;
  background-color: #2a3940;
}
#contact a,
#contact a:hover,
#contact a:focus { color: #fff }
#contact .social { margin-bottom: 20px }
#contact .social li .facebook:hover,
#contact .social li .facebook:focus { color: #3b5998 }
#contact .social li .twitter:hover,
#contact .social li .twitter:focus { color: #00aced }
#contact .social li .google-plus:hover,
#contact .social li .google-plus:focus { color: #d34836 }
#contact .social li .dribbble:hover,
#contact .social li .dribbble:focus { color: #ea4c89 }
#contact .social li .linkedin:hover,
#contact .social li .linkedin:focus { color: #1a85bc }
#contact .social li .github:hover,
#contact .social li .github:focus { color: black }
#contact .copyright { margin-bottom: 0 }
/* Responsive style */
@media screen and (max-width: 1024px) { 
  #testimonials .carousel-control { display: block }
}
@media screen and (max-width: 991px) { 
  #portfolio .items li { width: 50% }
  #testimonials .quote { padding: 0 70px }
}
@media (max-width: 767px) { 
  .page .content.cover { padding: 160px 0 }
  #testimonials .quote { padding: 0 50px }
  #testimonials .carousel-control.right { right: 10px }
}
@media (max-width: 480px) { 
  .page .content.cover { padding: 80px 0 }
  #portfolio .items li { width: 100% }
  #testimonials .quote { padding: 0 30px }
}
